.menu {
  position: relative;
}

.menu input,
.menu ul {
  display: none;
}

.menu-item-label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  color: #ffffff;
  font-size: large;
  background-color: #f79a15;
  border-radius: 50%;
  cursor: pointer;
}

.menu-item-label:hover {
  background-color: #a36207;
}

.menu .menu-list {
  position: absolute;
  width: 150px;
  right: 0;
  top: 40px;
  margin: 0;
  padding: 15px;
  list-style: none;
  background: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.username {
  text-align: center;
  color: #868480;
  padding-bottom: 5px;
  border-bottom: solid;
  border-color: #868480;
  margin-bottom: 10px;
}

.menu-list a {
  display: flex;
  text-decoration: none;
  padding: 10px;
  color: rgb(12, 11, 11);
}

.menu-list a:hover {
  background-color: #e7e4e4;
}

.menu :checked ~ .menu-list {
  display: flex;
  flex-direction: column;
}
