body {
  height: calc(100vh - 60px);
  width: 100vw;
}

header {
  animation-duration: 1s;
  animation-name: slidein;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 70px 0px 70px;
  background-color: #f5f5f5;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
}

.logo {
  height: 35px;
  width: auto;
}

.logo-img {
  height: 100%;
}

.right-side {
  display: flex;
  justify-content: end;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  top: 0;
  right: 0;
}

.fas.fa-bell.fa-2x {
  color: #888686;
}

.fas.fa-bell.fa-2x:hover {
  color: #595555;
  cursor: pointer;
}

.menu-icon {
  border-radius: 50%;
}

.notifications {
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 15px;
}

.error-notification,
.success-notification,
.warning-notification {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  opacity: 0.8;
}

.error-notification {
  background-color: #ce2929;
}

.success-notification {
  background-color: #569e35;
}

.warning-notification {
  background-color: #d4a518;
}

.fas,
.message,
p {
  color: white;
  padding: 0 10px 0 5px;
}

.bold-font {
  font-weight: bold;
}

@keyframes slidein {
  from {
    margin-top: -10%;
    width: 100%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .notifications {
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    gap: 5px;
    font-size: small;
  }
  .header {
    padding: 0px 20px 0px 20px;
  }
  .right-side {
    gap: 10px;
  }
}
